version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    target-branch: main
    schedule:
      interval: weekly
      day: saturday
      time: "12:00"
      open-pull-requests-limit: 10
    reviewers:
      - mintak21
